<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-text">EcoTotes у повсякденному житті</p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>          
            <source
            srcset="
              /img/gallery/eco_tote_placed_on_a_chair_1x_desctop.jpg,
              /img/gallery/eco_tote_placed_on_a_chair_2x_desctop.jpg"
            media="(min-width: 1440px)"/>
           <source
            srcset="
              /img/gallery/eco_tote_placed_on_a_chair_1x_tablet.jpg,
              /img/gallery/eco_tote_placed_on_a_chair_2x_tablet.jpg"
            media="(min-width: 768px)"/>
          <source
            srcset="
              /img/gallery/ecototeplaced1x.jpg,
              /img/gallery/ecototeplaced2x.jpg" />       
          <img src="/img/gallery/ecototeplaced1x.jpg"/>
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source
            srcset="/img/gallery/stylish_person_carries_a_tote_bag_1xdesctop.jpg,
              /img/gallery/stylish_person_carries_a_tote_bag_2xdesctop.jpg"
            media="(min-width: 1440px)"/>
          <source
            srcset="
              /img/gallery/stylish_person_carries_1x_tablet.jpg,
              /img/gallery/stylish_person_carries_2x_tablet.jpg"
            media="(min-width: 768px)"/>
          <source
            srcset="
              /img/gallery/stylishperson1x.jpg,
              /img/gallery/stylishperson2x.jpg"/>
          <img src="/img/gallery/stylishperson1x.jpg"
        /></picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="/img/gallery/person_walking_through_a_park_1x_desctop.jpg,
              /img/gallery/person_walking_through_a_park_1x_desctop.jpg"
            media="(min-width: 1440px)"/>
           <source
            srcset="
              /img/gallery/person_walking_through_a_park_1x_tablet.jpg,
              /img/gallery/person_walking_through_a_park_2x_tablet.jpg"
            media="(min-width: 768px)"/>
          <source
            srcset="
              /img/gallery/personwalking1x.jpg,
              /img/gallery/personwalking2x.jpg"/>       
          <img src="/img/gallery/personwalking1x.jpg"/>
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="/img/gallery/young_woman_holding_a_1x_desctop.jpg,
                /img/gallery/young_woman_holding_a_2x_desctop.jpg"
            media="(min-width: 1440px)"/>
             <source
            srcset="
              /img/gallery/young_woman_1x_tablet.jpg,
              /img/gallery/young_woman_2x_tablet.jpg"
            media="(min-width: 768px)"/>
          <source
            srcset="
              /img/gallery/youngwoman1x.jpg,
              /img/gallery/youngwoman2x.jpg"/>
          <img src="/img/gallery/youngwoman1x.jpg"/>
        </picture>
      </li>
    </ul>
  </div>
</section>
