<header class="header">
  <div class="container header-container">
    
      <a class="logo nav-logo" href="../index.html"> 
        <svg class="logo-icon"  width="84" height="16">
          <use href="/src/img/icons.svg#icon-logo-mobile"></use>
        </svg>
      </a>

    <nav class="header-nav">
      <ul class="nav-list-header">
        <li class="nav-item-header">
          <a class="nav-link-header" href="#about">
            Про нас
          </a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#advantages">
            Переваги
          </a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#assortment">
            Асортимент
          </a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#gallery">
            Галерея
          </a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#services">
            Відгуки
          </a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#reviews">
            Контакти
          </a>
        </li>
      </ul>
    </nav>
    <address class="contacts-header">
      <ul class="contats-list-header">
        <li class="contacts-item-header">
          <a class="contacts-link-header" 
            href="tel:+380631234567">
              +38 (099) 909-11-22
          </a>
        </li>
        <li class="contacts-item-header">
          <a class="contacts-link-header" 
            href="mailto:hello@ecotote.com">
            hello@ecotote.com
          </a>  
        </li>
      </ul>
    </address>

    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon">
        <use href="/src/img/icons.svg#icon-solid_menu"></use>
      </svg>
    </button>
  </div>
   <!-- mobile menu -->

  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">
      
      <button class="mobile-close-modal" data-menu-close>
        <svg class="mobile-icon-close" width="32" height="32">
          <use href="/src/img/icons.svg#icon-x"></use>
        </svg>
      </button>
      
      <nav class="mobile-menu-nav">
      
        <a class="logo menu-logo" href="../index.html">
          <svg class="menu-logo-icon">
            <use href="/src/img/icons.svg#icon-logo-mobile"></use>
          </svg>
        </a>
      
        <ul class="mobile-nav-list">
          <li class="mobile-nav-item">
            <a class="mobile-nav-link" 
              href="#about" >
                Про нас
            </a>
          </li>
          <li class="mobile-nav=item">
            <a class="mobile-nav-link" 
              href="#advantages">
                Переваги
            </a>
          </li>
          <li class="mobile-nav=item">
            <a class="mobile-nav-link" 
              href="#assortment">
                Асортимент
            </a>
          </li>
          <li class="mobile-nav=item">
              <a class="mobile-nav-link" 
              href="#gallery">
                Галерея
            </a>
          </li>
          <li class="mobile-nav=item">
              <a class="mobile-nav-link" 
                href="#services">
                  Відгуки
              </a>
          </li>
          <li class="mobile-nav=item">
            <a class="mobile-nav-link" 
              href="#reviews">
                Контакти
            </a>
          </li>
        </ul>
      </nav>  
      <div class="mobile-content">
        <address class="mobile-contacts">
          <ul class="mobile-contats-list">
            <li class="mobile-contacts-item">
              <a class="mobile-contacts-link"
                href="tel:+380631234567">
                  +38 (099) 909-11-22
              </a>
            </li>
            <li class="mobile-contacts-item">
              <a class="mobile-contacts-link"
                href="mailto:hello@ecotote.com">
                  hello@ecotote.com
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</header>
