
img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 32px;  
}

.advantages-container {
    display: flex;
    padding: 32px 16px;
    min-width: 320px;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    row-gap: 48px; 
}
.sign {
    min-width: 288px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;    
}
.subtitle {
   font-weight: 600;
   font-size: 16px;
   line-height: 1.5;
   color: #030a06;
   margin-bottom: 12px;
}
.title-advantage {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
    margin-bottom: 20px;
}
p {
  font-size: 16px;
  font-family: 'Fira Sans';
}
.equities-list {
    width: 288px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 48px;
}
.equities-item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 8px;
}
.equities-item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 124px; 
}
.advantages-subtitle {
    font-weight: 700;
    font-size: 24px; 
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030a06;
}

@media screen and (min-width: 768px) {
 .container {
    max-width: 768px;
    padding: 64px 32px;
    row-gap: 32px;
 }  
 .sign {
    min-width: 704px;
    height: auto;       
} 
 .subtitle {   
   margin-bottom: 16px;
 }
 .title-advantage {    
    margin-bottom: 24px;
 }
 .text-advantages-explenation {
   font-size: 18px; 
 }
 .equities-list {
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    list-style: none;
 }
 .equities-item {
    width: calc((100% - 24px) / 2 );
    row-gap: 32px;      
 } 
 .equities-list.equities-item:last-child {
    flex: 0 0 100%;
 }
  .equities-item-description {
     height: 128px;     
  }
}

 @media screen and (min-width: 1158px) {
 .container {
    max-width: 1440px;
    padding: 64;
    row-gap: 80px;
  }  
 .sign {
    width: 768px;    
 }
 .title-advantage {
    font-size: 48px;    
 }
 .equities-list {
    width: 1312px;
    height: 447px;         
 }
 .equities-item {
    width: calc((100% - 48px) / 3); 
    row-gap: 24px;   
 }
 .equities-item-description {
   height: 166px;  
 }
 .advantages-subtitle {
    font-size: 32px;    
 }
}