.advantages-container {
    display: flex;
    padding: 32px 16px;
    min-width: 320px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    row-gap: 48px; 

}
.sign {
    min-width: 288px;
    height: 272px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;    
}
.subtitle {
   font-weight: 600;
   font-size: 16px;
   line-height: 1.5;
   color: #030a06;
   padding-bottom: 12px;
   font-family: "Fira Sans", sans-serif;
}
.title-advantage {
    font-weight: 700;
    font-size: 36px;
    font-family: "Comfortaa", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
    padding-bottom: 20px;
 }
p {
  font-size: 16px;
  font-family: 'Fira Sans';
}
.equities-list {
    min-width: 288px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 48px;
}
.advantages-img {
    display: block;
    height: 198px;
    min-width: 288px;
    border-radius: 32px; 
    padding-bottom: 8px; 
}
.equities-item {
    width: 100%;
    display: block;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;    
}
.equities-item-description {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 124px; 
}
.advantages-subtitle { 
    font-family: "Comfortaa", sans-serif;   
    font-weight: 700;
    font-size: 24px; 
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030a06;
}

@media screen and (min-width: 768px) {
 .advantages-container {
    max-width: 768px;
    padding: 64px 32px;
    row-gap: 32px;
 }  
 .sign {
    min-width: 704px;
    height: 194px;       
 } 
 .subtitle {   
    padding-bottom: 16px;
 }
 .title-advantage {    
    padding-bottom: 24px;
 }
 .text-advantages-explenation {
    font-size: 18px; 
 }
 .equities-list {
    width: 100%;
    height: 902px;    
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    list-style: none;
  }
  .equities-item {
    display: block;
    width: calc((100% - 24px) / 2); 
    height: 361px;
    row-gap: 32px;      
  } 
  .last-child {
     width: 100%;
     height: 516px;  
  }
 .advantages-img {
    width: 340px;
    height: 201px;
    padding-bottom: 32px;
  }  
  .advantages-img-third {
    width: 704px;
    height: 417px;
  }
  .equities-item-description { 
     height: 128px;     
  }  
  .equities-item-description :last-child {
     height: 68px;
  }
}

@media screen and (min-width: 1440px) {
 .advantages-container {
    max-width: 1440px;
    padding: 64px;
    row-gap: 80px;
  }  
 .sign {
    width: 768px;    
  }
 .title-advantage {
    font-size: 48px;    
  }
  .equities-list {
    width: 1312px;
    height: 447px;
  }
 .equities-item {
    width: calc((100% - 48px) / 3); 
    height: 447px;
    column-gap: 24px;       
  }
  .advantages-img {
    width: 421px;
    height: 249px;    
  }
 .equities-item-description {
    height: 166px;  
  }
 .advantages-subtitle {
    font-size: 32px;    
  }
}