
.assortment {
    background-color: #ebf8ed;
    padding: 32px 16px;
}

.container {
    margin: 0 auto;
}

.assortment-title {
    font-weight: 700;
    font-size: 36px;
    font-family: "Comfortaa";
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    padding-bottom: 32px;
}

.assortment-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.thumb-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: "Fira Sans";
    width: 100%;
}

.card-img {
    border-radius: 32px;
    width: 288px;
    height: 345px;
}

.thumb-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 288px;
    height: 113px;
}

.card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #030a06;
}

.card-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    color: #030a06;
}

.card-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: #030a06;
}

.assortment-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
    border: 1px solid #030a06;
    border-radius: 6px;
    padding: 8px 20px;
    /* width: 288px; */
    height: 40px;
    background-color: transparent;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.assortment-btn:hover, .assortment-btn:focus, .assortment-btn:active {
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .assortment {
        padding: 64px 32px;
    }

    .assortment-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 48px 24px;
    }

    .assortment-item {
        width: calc((100% - 24px) / 2);
    }

    .card-img {
        width: 340px;
        height: 408px;
    }
}

@media screen and (min-width: 1440px) {
    .assortment {
        padding: 64px;
    }

    .assortment-title {        
        font-size: 48px;
        letter-spacing: 0.01em;
    }

    .assortment-list {
        flex-wrap: wrap;
        row-gap: 64px 24px;
    }

    .assortment-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .card-img {
        width: 310px;
        height: 372px;
    }
}