.feedbacks-container {
  max-width: 100%;
  padding: 32px 16px;
}

.feedbacks-title {
  max-width: 288px;
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.feedbacks-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
}

.feedbacks-item {
  max-width: 288px;
}

.feedbacks-text,
.feedbacks-stars {
  margin-bottom: 12px;
}

.star {
  fill: #3ac04c;
}

.feedbacks-text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #030a06;
}

.feedbacks-author {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

@media screen and (min-width: 768px) {
  .feedbacks-container {
    padding: 64px 32px;
  }
  .feedbacks-title {
    max-width: 560px;
  }

  .feedbacks-list {
    max-width: 704px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: baseline;
  }

  .feedbacks-item {
    max-width: 340px;
  }

  .feedbacks-text,
  .feedbacks-stars {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .feedbacks-container {
    padding: 64px;
  }

  .feedbacks-title {
    font-size: 48px;
  }

  .feedbacks-list {
    max-width: 1312px;
    justify-content: space-between;
  }

  .feedbacks-item {
    height: 182px;
    display: flex;
    flex-direction: column;
    max-width: 310px;
  }

  .feedbacks-author {
    margin-top: auto;
  }
}
