/* mobile */

.gallery {
  padding: 32px 0px;
}
.gallery-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
}
.gallery-text {
  padding: 16px 0px 0px 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
}
.gallery-list {
  padding: 32px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}
.gallery-item img {
  border-radius: 32px;
  width: 288px;
  height: 288px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .gallery {
    padding: 64px 32px;

    background: #ebf8ed;
  }
  .gallery-text {
    padding: 24px 0px 0px 0px;
  }
  .gallery-list {
    padding: 32px 0px 0px 0px;
    display: grid;
    grid-template-columns: 338px 340px;
    grid-template-rows: 338px 338px 338px;
    gap: 24px;
    justify-content: center;
  }
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-item:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .gallery-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .gallery-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

/* desktop */


@media screen and (min-width: 1440px) {
  .gallery {
    padding: 64px 64px 64px 64px;
  }
  .gallery-list {
    grid-template-columns: 421px 421px 421px;
    grid-template-rows: 421px 23px 421px;
    column-gap: 24px;

    justify-content: center;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .gallery-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .gallery-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .gallery-item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery-item img {
    border-radius: 32px;
  }
  .gallery-item:nth-child(1),
  .gallery-item:nth-child(4) {
    height: 421px;
  }
  .gallery-item:nth-child(2),
  .gallery-item:nth-child(3) {
    height: 865px;
  }
}
