
.header {
  width: 100%;
}
.header-container {
  
}

.header-nav {

}

.logo {}

.nav-logo {}

.logo-icon {
  width: 106px;
  height: 45px;
}

.nav-list-header {}

.nav-item-header {}

.nav-link-header {
  text-decoration: none;  
}

.contacts-header {}

.contats-list-header {}

.contacts-item-header {}

.contacts-link-header {}


.burger-btn {
  display: none;
}

.burger-icon {

}

@media screen and (min-width: 768px) {
  
  

}
  

@media screen and (min-width: 1440px) {
  .burger-btn {
    display: none;
  }
}



/* #region mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-modal:hover,
.mobile-close-modal:focus {
  border: none;
  background-color: #404bbf;
}

.mobile-icon-close {
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-modal:hover>svg,
.mobile-close-modal:focus>svg {
  fill: #ffffff;
}

/* menu item */

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-nav-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link.current {
  position: relative;
}

.mobile-contacts {
  font-style: normal;
  display: block;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0;
}

.mobile-contacts-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-contacts-link:hover,
.mobile-contacts-link:focus,
.mobile-nav-link.current {
  color: #404bbf;
}


.mobile-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  padding-top: 24px;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #4D5AE5;
  border-radius: 50%;


}


.mobile-icon-soc {
  fill: #F4F4FD;
}

.mobile-social-link:hover,
.mobile-social-link:focus,
.contacts-link:active {
  background-color: #404BBF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  
  
}


@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion mobile menu */